APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:0MhqOuPdXLhe15qi3QHm1Fq2jh5cnjpRs6CzfeVzajU=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_DYNAMIC_FORM_HOST=172.16.251.55
DB_DYNAMIC_FORM_PORT=3306
DB_DYNAMIC_FORM_DATABASE=frontiir_dynamic_form
DB_DYNAMIC_FORM_USERNAME=devdbuser
DB_DYNAMIC_FORM_PASSWORD="Fr0nt!!r"

CLIENT_HEADER=dynamic-form-client

# Logo mapped with form type
CONTRACT_LOGO_MAP={"27":"logo/mnet-logo.png","28":"logo/frontiir-logo.png","29":"logo/bf-logo.png","30":"logo/mnet-gen2-logo.png"}

#########################
# KAFKA Server Settings #
#########################
MIKO_PDF_GENERATOR_TOPIC=miko.pdf.consume
SASL_MIKO_PDF_GENERATOR_USERNAME=frontiir
SASL_MIKO_PDF_GENERATOR_PASSWORD=frontiir
KAFKA_BROKERS=172.16.250.129:30992
SECURITY_PROTOCOL=SASL_PLAINTEXT
SASL_MECHANISMS=PLAIN

########################
#   Cache Settings     #
########################
CACHE_DRIVER=redis
CACHE_PREFIX=form_cache

########################
#   REDIS Settings     #
########################
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null
REDIS_PREFIX=dfs: